
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Raleway:ital@1&display=swap');

/* ont-family: 'Raleway', sans-serif;  */


* {
    box-sizing: border-box; 
   
    
}

h1 {
    font-size: 60px; 
    font-family: 'Raleway', sans-serif; 
}

h3 {
    font-size: 40px; 
    font-weight: bolder;
}

.section-home {
    position: relative;
}


.contain { 
    background-size: cover; 
    background-repeat: no;
    text-align: center;
    position: absolute; 
    bottom: 710px; 
    left: 28%;  
    word-spacing: 1em;   
}

